<div class="csv-container">
    <h2>📂 Carga masiva de usuarios (CSV)</h2>

    <label class="custom-file-upload">
        <input type="file" (change)="onFileChange($event)" accept=".csv">
        📥 Seleccionar Archivo CSV
    </label>

    <p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>

    <div class="table-wrapper" *ngIf="data.length > 0">
        <table class="csv-table">
            <thead>
                <tr>
                    <th *ngFor="let header of headers">{{ header }}</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let row of data">
                    <td *ngFor="let header of headers">{{ row[header] }}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- Botón para crear usuarios -->
    <button *ngIf="data.length > 0" (click)="crearUsuarios()" class="btn-crear">
        🆕 Crear Usuarios
    </button>

    <p *ngIf="successMessage" class="success-message">{{ successMessage }}</p>
    <p *ngIf="errorCrearMessage" class="error-message">{{ errorCrearMessage }}</p>
</div>

<p-dialog header="Procesando usuarios" [(visible)]="isLoading" [modal]="true" [closable]="false" [showHeader]="false">
    <div class="text-center">
        <p-progressSpinner></p-progressSpinner>
        <p>Por favor, espera mientras se crean los usuarios...</p>
        <strong>No te salgas...</strong>
    </div>
</p-dialog>

<div class="error-container" *ngIf="failedUsers.length > 0">
    <h2>⚠️ Errores al cargar usuarios</h2>
    <p-table [value]="failedUsers" class="csv-table">
        <ng-template pTemplate="header">
            <tr>
                <th>Nombre</th>
                <th>Email</th>
                <th>Contraseña</th>
                <th>Error</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-userData>
            <tr>
                <td>{{ userData.first_name }} {{ userData.last_name }}</td>
                <td>{{ userData.email }}</td>
                <td>{{ userData.password }}</td>
                <td style="color: red;">{{ userData.error.error.error }}</td>
            </tr>
        </ng-template>
    </p-table>
</div>


<div class="p-personas-controls">
    <div class="p-personas-search">
        <span class="search-icon-container">
            <i class="pi pi-search search-icon"></i>
        </span>
        <input type="text" pInputText [(ngModel)]="searchValue" (input)="filtrarUsuarios()" class="search-box"
            placeholder="Buscar usuario..." />
    </div>
</div>

<div class="user-list">
    <div *ngIf="cargando" class="loading-container">
        <p-progressSpinner styleClass="spinner"></p-progressSpinner>
        <span class="loading-text">Cargando usuarios...</span>
    </div>

    <table *ngIf="!cargando">
        <thead>
            <tr>
                <th>Usuario</th>
                <th>Nombres</th>
                <th>Apellidos</th>
                <th>Rol (roles)</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <ng-container *ngFor="let usuario of usuariosFiltrados">
                <tr>
                    <td>{{ usuario.username }}</td>
                    <td>{{ usuario.first_name }}</td>
                    <td>{{ usuario.last_name }}</td>
                    <td>{{ usuario.roles.join(', ') }}</td>
                    <td>
                        <button pButton icon="pi pi-pencil" class="btn-editar"
                            (click)="vereditarUsuario(usuario)"></button>
                        <button pButton icon="pi pi-trash" class="btn-eliminar"
                            (click)="eliminarUsuario(usuario)"></button>
                    </td>
                </tr>
            </ng-container>
        </tbody>
    </table>
</div>

<p-dialog [(visible)]="dialogUsuario" [style]="{'width': '60vw'}" [modal]="true" [closable]="false"
    [showHeader]="false">
    <form [formGroup]="formUsuario">
        <div class="p-fluid">
            <div class="row">
                <div class="p-field col">
                    <label for="first_name">Nombres</label>
                    <input id="first_name" type="text" pInputText formControlName="first_name" />
                </div>
                <div class="p-field col">
                    <label for="last_name">Apellidos</label>
                    <input id="last_name" type="text" pInputText formControlName="last_name" />
                </div>
            </div>
            <div class="p-field">
                <label for="username">Username</label>
                <input id="username" type="text" pInputText formControlName="username" />
            </div>
            <div class="p-field">
                <label for="email">Correo</label>
                <input id="email" type="email" pInputText formControlName="email" />
            </div>
            <div class="p-field">
                <label for="roles">Roles</label>
                <input id="roles" type="text" pInputText formControlName="roles" [readOnly]="true">
            </div>
        </div>
    </form>

    <div class="p-grid p-nogutter p-align-center header-container"></div>
    <div class="button-container">
        <button class="btn" (click)="guardarUsuario()">
            <i class="pi pi-check"></i> Guardar Cambios</button>
        <button class="btn" (click)="cerrareditarUsuario()">
            <i class="pi pi-times"></i> Cancelar</button>
    </div>
</p-dialog>
