<div *ngFor="let item of menu; let i = index" class="padre grid align-items-center justify-content-center pl-2"
  (mouseenter)="openSubmenu($event, item)" (mouseleave)="closeSubmenu(item)" (click)="clickHandler($event, item)">

  <span [routerLink]="item.link" (click)="clickHandler($event, item)" class="text-600 cursor-pointer centered-span"
    style="padding-left: 10px; padding-bottom: 10px; padding-top: 10px;">
    <i [ngClass]="item.icono" style="font-size: 1.5rem; margin-top: 5px;"></i>
  </span>

  <!-- Submenú flotante -->
  <div *ngIf="!item.collapsed" class="submenu"
    [ngStyle]="{'top.px': item.submenuPosition?.top, 'left.px': item.submenuPosition?.left}">
    <div *ngFor="let subitem of item.menu" class="hijo">
      <span [routerLink]="subitem.link" (click)="clickHandler($event, subitem)">
        <i class="ml-2 pi pi-chevron-right" style="font-size: 1.5rem; margin-top: 5px;"></i>
        <span class="ml-2" style="font-size: 18px;">{{ subitem.titulo }}</span>
      </span>
    </div>
  </div>
</div>